.main-container{
    margin: 0 auto;
    width: 1064px;
    height: 770px;
    color: white;
}
.img-background{
    height: 770px;
    font-family: Verdana, sans-serif;
    background: url("../img/background.jpg") 50% 50% no-repeat;
}
.header-container{
    width: 1064px;
    margin: 20px auto;
    color: white;
}
.top-info{
    height: 75px;
    text-decoration: none;
    color: white;
    padding-top:  40px;
    padding-bottom: 10px;
}
.logo-link{
    background: url(../img/logo.png);
    color: white;
}
.logo-link:hover{
    color:  #f26522;
}
.top-img{
    display: inline-block;
    float: left;
    padding-right: 15px;
    background: url(../img/logo.png) no-repeat;
    width: 46px;
    height: 44px;
    background-size: contain;
}
.top-img:hover{
    background: url(../img/logo-orange.png) no-repeat;
}
.top-contacts-email{
   text-align: right;
}
.top-contacts-phone{
    padding-left: 910px;
}
.top-city-name{
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 9px;
    padding-left: 61px;
}
.top-name-holidays{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding-left: 61px;
}
.photo-tour{
    float: left;
    position: relative;
}
.photo-tour:nth-of-type(2){
    content: "";
    margin-right: 64px;
    margin-left: 64px;
}
.photo-tour:nth-of-type(5){
    content: "";
    margin-right: 64px;
    margin-left: 64px;
}
.gradient {
    background: linear-gradient(to bottom, white, grey);
    padding: 2px 2px 0;
}
.clearfix {
    content: "";
    display: block;
    clear: both;
}
.name-tours{
    margin: 18px 15px -10px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #ffffff;
}

.hidden_link{
    margin: 0 auto;
    width: 312px;
    height: 63px;
    background-color: #f26522;
    position: inherit;
    bottom: 89px;
    opacity: 0;
}
.price{
    position: relative;
    display: inline-block;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    margin: 30px 110px 17px 21px ;
}
.details{
    text-decoration: none;
    display: inline-block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.details:after{
    content: ">";
    margin-left: 15px;
    margin-right: 15px;
}
.price:before {
    content: "from";
    position: absolute;
    top: -16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
}
.link-cards{
    width: 100%;
}
.name-tours:hover + .hidden_link {
    color: #f26522;
    opacity: 1;
    transform: matrix(x);
}
.name-tours:hover{
    color: #f26522;
}
.hidden_link:hover{
    opacity: 1;
}
.coryright{
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    margin: 31px 0;
}

